.YL 
    {
        &__drawer {
            background-color: #0079BB;
            padding-top: 2rem;
        }  
        &__drawer-item {
            font-size: 1.5rem; 
            padding: 1rem; 
            color: white;
        }
        &__drawer-footer-link {
            text-decoration: none; 
            font-weight: 500; 
            font-size: .75rem
        }
        :hover {
            color: #000;
        }
    }
