.YL 
    {
        &__drawer {
            background-color: #0079BB;
            padding-top: 2rem;
        }  
        &__drawer-item {
            font-size: 1.3rem; 
            padding: 0.5rem; 
            color: white;
            width: 225px;
            font-family: '강원교육모두 Bold';
            &_icon {
                padding-right: 10px;
                display: inline-block;
            };
            &_text {
                text-align: left;
            };
            &_text-sub {
                padding-right: 20px;
                text-align: right;
                font-size: 1rem;
            };
        }
        &__drawer-footer-link {
            text-decoration: none; 
            font-weight: 500; 
            font-size: .75rem
        }
        :hover {
            color: #000;
        }
    }

div .drawer-item-width {
    width: 56px;
}

.q-expansion-item__toggle-icon {
    color: white;
}