.el-input {
    border: none !important;
}

/*
.el-input__wrapper {box-shadow: 0 0 0 1px #e6e6e6 inset !important; }
.el-input__wrapper:hover,
.el-input__wrapper:focus {box-shadow: 0 0 0 1px #363636 inset !important; }
*/
/* 커스텀 셀렉트 박스 */

.el-select,
.el-select-v2 {
    &.el-select--large {
        height: 40px;

        .el-input--large {
            height: 100%;
        }
    }

    &.basic {
        .el-input {
            height: 36px;
        }
    }

    &.el-select--small {
        height: 32px;

        .el-input--small {
            height: 100%;
        }
    }
}

/* 커스텀 셀렉트 박스  */
.el-select-v2 {
    &.el-select-v2--large {
        height: 40px;

        .el-select-v2__wrapper {
            height: 100%;
            font-size: 15px !important;
        }

        &.el-select-v2__placeholder {
            font-size: 15px !important;
        }
    }

    & {
        .el-select-v2__wrapper {
            height: 36px;
            font-size: 14px !important;

            .el-select-v2__input-wrapper {
                height: 100%;
            }
        }

        &.el-select-v2__placeholder {
            font-size: 15px !important;
        }
    }

    &.el-select-v2--small {
        height: 32px;

        .el-select-v2__wrapper {
            height: 100%;
            font-size: 13px;
        }
    }

    .el-select-v2__wrapper.is-disabled {
        .el-select-v2__input-wrapper {
            border: none;
            background-color: transparent !important;
            box-shadow: none !important;
        }

        input {
            border: none;
            background-color: transparent !important;
        }
    }

}

/* 인풋 기본 커스텀 기본사이즈 */
.el-input {
    &.el-input--large {
        height: 40px;

        .el-input__inner {
            height: 100%;
            font-size: 15px;
            color: #363636;
        }
    }

    &.basic {
        height: 36px;

        .el-input__inner {
            height: 100%;
            font-size: 15px;
            color: #363636;
        }
    }

    &.el-input--small {
        height: 32px;

        .el-input__inner {
            height: 100%;
            font-size: 14px;
            color: #363636;
        }
    }
}


.el-input-group__prepend {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
    padding: 0 !important;

    .el-select {
        margin: 0 !important;

        .el-input {
            position: relative;

            .el-input__wrapper {
                box-shadow: none !important;
            }
        }

    }
}

.el-popper__arrow {
    display: none;
}

.el-input.is-focus .el-input__wrapper {
    outline: none;
    box-shadow: none !important;
    border-color: #363636;
}

.el-icon svg {
    color: #363636;
}

.el-select__popper.el-popper {
    box-shadow: none !important;
    border: 1px solid #363636 !important;
}

.el-popper__arrow {
    display: none;
}

.el-select .el-input.is-focus .el-input__wrapper {
    outline: none;
    box-shadow: none !important;
    border-color: #363636;
}

.el-input {
    --el-input-text-color: var(--el-text-color-regular);
    --el-input-border: var(--el-border);
    --el-input-hover-border: #363636 !important;
    --el-input-focus-border: #363636 !important;
    --el-input-transparent-border: 0 0 0 1px transparent inset;
    --el-input-border-color: var(--el-border-color);
    --el-input-border-radius: var(--el-border-radius-base);
    --el-input-bg-color: var(--el-fill-color-blank);
    --el-input-icon-color: var(--el-text-color-placeholder);
    --el-input-placeholder-color: var(--el-text-color-placeholder);
    --el-input-hover-border-color: var(--el-border-color-hover);
    --el-input-clear-hover-color: var(--el-text-color-secondary);
    --el-input-focus-border-color: var(--el-color-primary);
}

.el-input__wrapper.is-fous {
    box-shadow: 0 0 0 1px rgba(36, 36, 36, 1) !important;
}

/* 탭 컨텐츠 페이지 단지관리, 입주민관리 부분 */
.container {
    &>.el-tabs {
        &>div.is-top {
            padding: 10px 40px 0;
            height: 56px;
            background: #FBFBFC;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            margin: 0;

            &>div {
                height: 100%;

                &::after {
                    height: 0;
                }

                &>div {
                    height: 100%;

                    &>div {
                        height: 100%;

                        &>.el-tabs__active-bar {
                            height: 3px;
                            background: #363636 !important;
                            box-sizing: content-box;
                            padding: 0 16px;
                            margin-left: -16px;
                        }

                        &>.el-tabs__item {
                            padding: 0 16px;
                            color: #666;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.el-tabs {
    height: 100%;

    &>div.is-top {
        padding: 10px 40px 0;
        height: 56px;
        background: #FBFBFC;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        margin: 0;

        &>div {
            height: 100%;

            &::after {
                height: 0;
            }

            &>div {
                height: 100%;

                &>div {
                    height: 100%;

                    &>.el-tabs__active-bar {
                        height: 3px;
                        background: #363636 !important;
                        box-sizing: content-box;
                    }

                    &>div {
                        font-size: 18px !important;
                        transition: all .3s;
                        color: #363636;

                        &.is-active {
                            color: #363636 !important;
                            font-weight: 600;
                        }

                        &:hover {
                            color: #363636 !important;
                        }
                    }

                }
            }
        }
    }

    .el-tabs__content {
        height: calc(100% - 56px);
        overflow: auto;

        .el-tab-pane {
            height: 100%;

            .page-contents {
                height: 100%;
            }
        }
    }

}

/* 라디오 버튼 커스텀 */
.el-radio {
    --el-radio-input-height: 16px !important;
    --el-radio-input-width: 16px !important;

    &.el-radio--large {
        height: 40px;

        .el-radio__label {
            font-size: 15px;
            line-height: 16px;
            color: #363636 !important;
        }

        .el-radio__input.is-checked+.el-radio__label {
            color: #363636 !important;
            font-weight: 600;
        }
    }

    .el-radio__input {
        &.is-checked {
            .el-radio__inner {
                border-color: $red !important;
                background: $red !important;
            }
        }

        &:hover {
            .el-radio__inner {
                border-color: $red !important;
            }
        }

        .el-radio__inner {
            width: 16px !important;
            height: 16px !important;

            &:after {
                width: 8px !important;
                height: 8px !important
            }
        }
    }


    &.basic {
        .el-radio__label {
            font-size: 14px !important;
            line-height: 16px;
            color: #363636 !important;
        }

        .el-radio__input.is-checked+.el-radio__label {
            color: #363636 !important;
            font-weight: 600;
        }
    }

    &-group {
        &.basic {
            .el-radio__label {
                font-size: 14px !important;
                line-height: 16px;
                color: #363636 !important;
            }

            .el-radio__input.is-checked+.el-radio__label {
                color: #363636 !important;
                font-weight: 600;
            }
        }
    }

}

.el-checkbox {
    .el-checkbox__label {
        font-size: 15px;
        color: #363636 !important;
    }
}


.el-checkbox {
    height: 16px !important;
    position: relative;

    .el-checkbox__input {
        display: inline-flex;
        height: 100%;
        position: relative;
        cursor: pointer;
        width: 100%;
        align-items: center;
        width: 16px;

        .el-checkbox__inner {
            position: absolute;
            height: 6px;
            width: 11px;
            left: 2px;
            top: 3px;
            transform: rotate(-45deg);
            z-index: 3;
            display: block;
            background-color: transparent !important;
            border-color: transparent !important;
            transition: none;

            &::before {
                @include befo_after;
                left: 0;
                top: 0;
                width: 2px;
                height: 0;
                transition: all 0.1s linear 0.1s;
                background: $white;
            }

            &::after {
                @include befo_after;
                left: 0;
                width: 0;
                height: 2px;
                transition: all 0.1s;
                background: $white;
                transform: none;
                top: 3px;
                border: 0;
            }
        }

        &:after {
            @include befo_after;
            width: 16px;
            height: 16px;
            left: 0;
            border: 1px solid #dfdfdf;
            background: $white;
            transition: all 0.2s;
            @include radius(2px);
        }

        &.is-checked {
            &:after {
                background: $red;
                border-color: $red;
            }

            .el-checkbox__inner {
                &::before {
                    height: 100%;
                    transition: all 0.1s;
                }

                &::after {
                    width: 100%;
                    transition: all 0.1s linear 0.1s;
                    transform: none;
                }
            }
        }
    }
}


.el-form-item.is-required:not(.is-no-asterisk).asterisk-right>.el-form-item__label-wrap>.el-form-item__label:after,
.el-form-item.is-required:not(.is-no-asterisk).asterisk-right>.el-form-item__label:after {
    content: "" !important;
    margin-left: 4px;
    width: 3px;
    height: 3px;
    background: #ff1010;
    display: inline-flex;
    margin-bottom: 10px;
}

.el-form {
    .el-form-item__label {
        align-items: center;
        height: 36px;
        color: #666;
    }
}

/* 체크박스 커스텀 */
.check-box {
    display: flex;
    position: relative;

    &_btn {
        opacity: 0;
        position: absolute;
        left: 0;
    }

    &_btn+&_name {
        //체크박스 + 네임 같이 사용시 Label
        display: flex;
        height: 100%;
        position: relative;
        cursor: pointer;
        padding-left: 22px;
        align-items: center;

        &::after {
            @include befo_after;
            width: 16px;
            height: 16px;
            left: 3px;
            border: 1px solid #dfdfdf;
            background: $white;
            transition: all 0.2s;
        }

        .arrow {
            position: absolute;
            height: 6px;
            width: 10px;
            left: 6px;
            top: 3px;
            transform: rotate(-45deg);
            z-index: 3;
            display: block;

            &::before {
                @include befo_after;
                left: 0;
                top: 0;
                width: 2px;
                height: 0;
                transition: all 0.2s linear 0.2s;
                background: $white;
                content: "";
            }

            &::after {
                @include befo_after;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                transition: all 0.2s;
                background: $white;
                content: "";
            }
        }
    }

    &_btn:focus+&_name {

        //체크박스 포커스 경우
        &::before {
            border-color: $red;
        }
    }

    &_btn:checked+&_name {

        //체크박스 체크 경우
        &::after {
            background: $red;
            border-color: $red;
        }

        .arrow {
            &::before {
                height: 100%;
                transition: all 0.2s;
            }

            &::after {
                width: 100%;
                transition: all 0.2s linear 0.2s;
            }
        }
    }
}

.el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: none !important;
}

.el-table .cell {
    padding: 0 !important;
}

.el-table__expand-icon>.el-icon {
    font-size: 13px !important;
    display: none;
}

.el-table td.el-table__cell div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.el-table [class*=el-table__row--level] .el-table__expand-icon {
    width: 13px !important;
    height: 13px !important;
    @include radius(2px);
    position: relative;
    display: flex;
    align-items: center;
    background: #363636;
    margin-right: 12px;
    padding: 0;

    &:before {
        @include befo_after;
        width: 7px;
        height: 1px;
        background: $white;
        left: 3px;
        top: 6px;
        transition: all .3s;
    }

    &:after {
        @include befo_after;
        width: 1px;
        height: 7px;
        background: $white;
        left: 6px;
        top: 3px;
        transition: all .3s;
    }
}

.el-table__expand-icon--expanded {
    transform: none !important;

    &:before {
        transform: rotate(90deg);
        opacity: 0;
    }

    &:after {
        transform: rotate(90deg);
    }
}

.el-table__placeholder {
    position: relative;
    height: 12px !important;
    width: 11px !important;
    margin: 0 6px 0 4px;

    &:before {
        @include befo_after;
        width: 11px;
        height: 12px;
        left: 0;
        bottom: 0px;
        background: url("@/assets/images/tree_ico.svg") no-repeat left bottom;
    }
}




.el-scrollbar__bar.is-horizontal {
    height: 10px !important;
}

.el-scrollbar__bar.is-vertical {
    right: 8px;
}

.el-select-v2__popper.el-popper {
    border: 1px solid #363636 !important;
}

tr.el-table__row:hover {
    background-color: transparent !important;
}


/* 달력부분 커스텀 */
.el-date-editor--date {
    .el-input__wrapper {
        flex-direction: row-reverse;
        height: 40px;

        &:hover {
            .el-input__suffix {
                display: none;
            }
        }

        .el-icon.el-input__icon {
            width: 18px;
            height: 19px;
            background: url("@/assets/images/cal_ico.svg") no-repeat center center;
            background-size: 18px 19px;
            margin-right: 0;
            cursor: pointer;

            svg {
                display: none;
            }
        }
    }
}

/* 검색 조건 부분 인풋 + 셀렉트 박스 */
.select-input_type {
    position: relative;

    .el-input-group__prepend {
        //셀렉트 박스 영역 보더 제거
        position: absolute;
        left: 2px;
        top: 0;
        z-index: 1;
        background: transparent;

        .el-select-v2 {
            width: 180px;

            .el-select-v2__wrapper {
                border: none !important;
                height: 36px !important;
            }
        }
    }

    .el-input__wrapper {
        border-radius: 3px !important;
        padding: 1px 40px 1px 184px !important;
    }

    &.ApvL_pop {
        .el-input__wrapper {
            padding: 0 !important;
            border-radius: 0 !important;
            box-shadow: none;

            input {
                border-radius: 3px 3px 0 0 !important;
                padding: 1px 40px 1px 124px !important;
                border: 1px solid #ccc;
                border-bottom-color: #e6e6e6;

                &:hover {
                    border-color: $black;
                }

                &:focus {
                    border-color: $black;
                }
            }
        }
    }
}


/* 테이블 영역 공통 로우 선택 */
.el-table {
    &.profile {
        //프로필 사진이 있는 경우의 테이블 타입
        height: 100%;

        .el-table__header-wrapper {
            height: 52px;

            .el-table__header {
                height: 52px;

                .el-table__cell {
                    height: 52px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #888 !important;
                        font-size: 14px !important;
                        font-weight: normal;
                        align-items: center;
                        height: auto;
                    }
                }
            }
        }

        .el-table__body-wrapper {
            height: 100%;

            .el-scrollbar {
                height: 100%;

                .el-table__body {
                    .el-table__cell {
                        height: 56px;
                        padding: 0;

                        .cell {
                            font-size: 15px;
                            color: #363636;

                            a {
                                display: inline-flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }

    &.head32 {
        .el-table__header-wrapper {
            height: 32px;

            .el-table__header {
                height: 32px;

                .el-table__cell {
                    height: 32px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #888;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }
        }

    }

    &.head36 {
        .el-table__header-wrapper {
            height: 36px;

            .el-table__header {
                height: 36px;

                .el-table__cell {
                    height: 36px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #888;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }
        }

    }

    &.head40 {
        .el-table__header-wrapper {
            height: 40px;

            .el-table__header {
                height: 40px;

                .el-table__cell {
                    height: 40px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #888;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }
        }

    }

    &.head42 {
        .el-table__header-wrapper {
            height: 42px;

            .el-table__header {
                height: 42px;

                .el-table__cell {
                    height: 42px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #888;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    &.row48 {
        height: calc(100% - 56px);

        .el-table__body-wrapper {
            height: 100%;

            .el-scrollbar {
                height: 100%;

                .el-table__body {
                    .el-table__cell {
                        height: 48px;

                        .cell {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    &.row40 {
        //테이블의 경우는 기본이 40row
        height: 100%;

        .el-table__header-wrapper {
            height: 40px;

            .el-table__header {
                height: 40px;

                .el-table__cell {
                    height: 40px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #888;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }

        .el-table__body-wrapper {
            height: 100%;

            .el-scrollbar {
                height: 100%;

                .el-table__body {
                    .el-table__cell {
                        height: 40px;
                        padding: 0;

                        .cell {
                            font-size: 14px;
                            color: #363636;
                        }
                    }
                }
            }
        }
    }

    &.row36 {
        height: 100%;

        .el-table__header-wrapper {
            height: 36px;

            .el-table__header {
                height: 36px;

                .el-table__cell {
                    height: 36px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #888;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }
        }

        .el-table__body-wrapper {
            height: 100%;

            .el-scrollbar {
                height: 100%;

                .el-table__body {
                    .el-table__cell {
                        height: 36px;
                        padding: 0;

                        .cell {
                            font-size: 14px;
                            color: #363636;
                        }
                    }
                }
            }
        }
    }

    &.row32 {
        height: 100%;

        .el-table__header-wrapper {
            height: 32px;

            .el-table__header {
                height: 32px;

                .el-table__cell {
                    height: 32px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #999;
                        font-size: 13px;
                        font-weight: normal;
                    }
                }
            }
        }

        .el-table__body-wrapper {
            height: 100%;

            .el-scrollbar {
                height: 100%;

                .el-table__body {
                    .el-table__cell {
                        height: 32px;
                        padding: 0;

                        .cell {
                            font-size: 14px;
                            color: #363636;
                        }
                    }
                }
            }
        }
    }

    &.header_color {
        .el-table__header-wrapper {
            .el-table__header {
                .el-table__cell {
                    background: #bec0ce !important;
                    padding: 0;

                    .cell {
                        color: $white;
                        font-size: 14px;
                        font-weight: normal;
                        padding: 0;
                    }
                }
            }
        }
    }

    &.treeType {
        //테이블 트리경우 보더가 없이 차일드속성이 40px 부모속성이 32px
        height: 100%;

        .el-table__header-wrapper {
            height: 42px;

            .el-table__header {
                height: 42px;

                .el-table__cell {
                    height: 42px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #888;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }

        .el-table__body-wrapper {
            height: 100%;

            .el-scrollbar {
                height: 100%;

                .el-table__body {
                    .el-table__row {
                        .el-table__cell {
                            height: 32px;
                            border-bottom: 0;
                            padding: 0 0;

                            .cell,
                            .el-text {
                                font-size: 15px;
                                color: #363636;
                                font-weight: 500;
                                height: 100%;
                                padding: 0 0 0 24px !important;

                                .el-table__indent {
                                    padding: 0 !important;
                                }
                            }
                        }

                        &--level-1 {
                            .el-table__cell {
                                height: 40px;
                            }
                        }

                        &.current-row {
                            .el-table__cell {
                                background: $white;
                            }

                            &:hover> {
                                .el-table__cell {
                                    background: $white;
                                }
                            }

                            &.el-table__row--level-1> {
                                .el-table__cell {
                                    background: $white;

                                    &:first-child {
                                        .cell {
                                            font-weight: 600;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {
                            .el-table__cell {
                                background: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    &.treeType_line {
        //테이블 트리 보더라인 경우, 전체가 테이블 로우가 같은 40px
        height: 100%;

        .el-table__header-wrapper {
            height: 42px;

            .el-table__header {
                height: 42px;

                .el-table__cell {
                    height: 42px;
                    padding: 0;
                    border-bottom: 0 !important;

                    .cell {
                        color: #999;
                        font-size: 13px;
                        font-weight: normal;
                    }
                }
            }
        }

        .el-table__body-wrapper {
            height: 100%;

            .el-scrollbar {
                height: 100%;

                .el-table__body {
                    .el-table__cell {
                        height: 46px;

                        .cell {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

}

.is-disabled {
    &>div {
        background: #f8f8f8 !important;
        box-shadow: 0 0 0 1px #e6e6e6 inset !important;

        input {
            background: #f8f8f8 !important
        }
    }
}

/* 버튼 부분 */
.el-button {
    &.button__Big {
        height: 40px;
    }

    &.button__Basic {
        height: 36px;
    }

    &.button__Small {
        height: 32px;
    }

    &.button+&.button {
        margin-left: 8px;
    }
}

/* 숫자 입력 영역 부분 */
.el-input-number {
    width: 80px !important;

    &__decrease {
        width: 24px !important;
    }

    &__increase {
        width: 24px !important;
    }

    .el-input__wrapper {
        padding: 1px 24px !important;
        box-shadow: 0 0 0 1px #e6e6e6 inset !important;
    }

    .el-input__inner {
        color: #363636;
    }

    &.Basic {
        height: 36px;

        .el-input__inner {
            height: 36px;
            color: #363636 !important;
        }
    }

}


/* 사용자관리 쪽 주소 부분 툴팁영역 */
.el-popover.el-popper.addr_popOver {
    height: 48px;
    border: 1px solid #6499b8 !important;
    position: relative;
    @include radius(3px);
    box-shadow: none !important;
    display: inline-flex;
    align-items: center;
    font-size: 14px !important;

    &:before {
        position: relative;
        content: "도로명";
        font-size: 12px;
        color: #999;
        width: 40px;
        height: 18px;
        display: flex;
        align-items: center;
        @include line(1px, solid, #999, 0);
        justify-content: center;
        margin-right: 8px;
    }
}


/* 파일 업로드 드래그 영역 커스텀 */
.file-upload_box {

    //대쉬타입 박스 영역
    .el-upload.is-drag {
        @include flex_center;
        height: 60px;
        color: #666;
        width: 100%;

        .el-upload-dragger {
            @include flex_center;
            width: 100%;
            height: 100%;
            background: #F7F8FB !important;
            padding: 0 !important;
            @include line(1px, dashed, #ccc, 0);
            @include radius(0);

            &:hover {
                border-color: #363636;
            }
        }
    }

    &_txt {
        display: inline-flex;
        position: relative;
        color: #666;
        align-items: center;

        * {
            margin: 0 2px;
        }

        .plus_ico {
            width: 16px;
            height: 16px;
            position: relative;
            display: inline-flex;
            border: 1px solid #666;
            margin-right: 4px;
            @include radius(3px);

            &:before {
                @include befo_after;
                @include center;
                width: 8px;
                height: 2px;
                background: #666;
                @include radius(3px)
            }

            &:after {
                @include befo_after;
                @include center;
                width: 2px;
                height: 8px;
                background: #666;
                @include radius(3px)
            }
        }
    }
}

/* 트리영역 공통 타입 */
.el-tree, .filter-tree {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 40px);
}

.el-tree {
    height: 100%;

    .el-tree-node {
        &__content {
            height: 36px;
            padding: 0 24px !important;
        }

        &.is-doc {
            .el-icon.el-tree-node__expand-icon {
                position: relative;
                height: 12px !important;
                width: 11px !important;
                margin: 0 10px 0 4px;
                padding: 0;

                svg {
                    display: none !important;
                }

                &:before {
                    @include befo_after;
                    width: 11px;
                    height: 12px;
                    left: 0;
                    bottom: 0px;
                    background: url("@/assets/images/tree_ico.svg") no-repeat left bottom;
                }
            }
        }

        &.is-category {
            &>div.el-tree-node__content {
                .el-icon.el-tree-node__expand-icon {
                    width: 13px !important;
                    height: 13px !important;
                    @include radius(2px);
                    position: relative;
                    display: flex;
                    align-items: center;
                    background: #363636;
                    margin-right: 12px;
                    padding: 0;

                    &:before {
                        @include befo_after;
                        width: 7px;
                        height: 1px;
                        background: $white;
                        left: 3px;
                        top: 6px;
                        transition: all .3s;
                    }

                    &:after {
                        @include befo_after;
                        width: 1px;
                        height: 7px;
                        background: $white;
                        left: 6px;
                        top: 3px;
                        transition: all .3s;
                    }

                    svg {
                        display: none !important;
                    }
                }

                .el-icon.el-tree-node__expand-icon.expanded {
                    transform: none !important;

                    &:before {
                        transform: rotate(90deg);
                        opacity: 0;
                    }

                    &:after {
                        transform: rotate(90deg);
                    }
                }

                .el-icon.el-tree-node__expand-icon.is-leaf {
                    width: 13px !important;
                    height: 13px !important;
                    @include radius(2px);
                    position: relative;
                    display: flex;
                    align-items: center;
                    background: #363636;
                    margin-right: 12px;
                    padding: 0;

                    &:before {
                        @include befo_after;
                        width: 7px;
                        height: 1px;
                        background: $white;
                        left: 3px;
                        top: 6px;
                        transition: all .3s;
                    }

                    &:after {
                        display: none;
                    }

                    svg {
                        display: none !important;
                    }
                }
            }
        }

        &>.el-tree-node__children {
            position: relative;
        }
    }

    .el-tree-node__content {
        &:hover {
            background: transparent;
        }

        margin-bottom: 1px;

        .favorite_ico {
            //즐겨찾기 아이콘
            font-variation-settings: 'FILL' 1;
            color: #e6e6e6;
            font-size: 18px;

            ::selection {
                background-color: transparent;
            }

            &.active {
                color: #ffa63e;
            }
        }

        .del_ico {
            //양식 삭제 버튼
            color: #888;
            font-size: 18px;
        }
    }

    &.ApvLine_tree>.el-tree-node {

        //결재 양식 선택 부분
        .el-tree-node__content {
            cursor: auto !important;

            span {
                cursor: pointer;
            }
        }

        &>.el-tree-node__content {
            background: #f4f6fa;

            .el-icon.el-tree-node__expand-icon.expanded {
                transform: none !important;
            }

            &:hover {
                background: #f4f6fa;
            }
        }

        &:focus {
            &>.el-tree-node__content {
                background: #f4f6fa;

                .el-icon.el-tree-node__expand-icon.expanded {
                    transform: none !important;
                }

                &:hover {
                    background: #f4f6fa;
                }

                &:focus {
                    background: #f4f6fa;
                }
            }
        }

        &>div.el-tree-node__content {
            .el-icon.el-tree-node__expand-icon {
                width: 20px !important;
                height: 20px !important;
                @include radius(2px);
                position: absolute;
                display: flex;
                align-items: center;
                margin-right: 0;
                padding: 0;
                right: 24px;
                background: transparent !important;

                svg {
                    display: none;
                }

                &:after {
                    @include befo_after;
                    width: 8px;
                    height: 8px;
                    @include line(2px, solid, #666, 0);
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg) !important;
                    transition: all .2s;
                    background: transparent !important;
                }

                &.expanded {
                    &:after {
                        transform: rotate(-135deg) !important;
                        top: 8px;
                    }

                }
            }

            .el-icon.el-tree-node__expand-icon.is-leaf {
                display: none;

                &:before {
                    display: none;
                }

                &:after {
                    display: none;
                }
            }
        }

        &.is-category {
            &>div.el-tree-node__content {
                .el-icon.el-tree-node__expand-icon.is-leaf {
                    position: relative;
                    height: 12px !important;
                    width: 11px !important;
                    margin: 0 10px 0 4px;
                    padding: 0;

                    svg {
                        display: none !important;
                    }

                    &:before {
                        @include befo_after;
                        width: 11px;
                        height: 12px;
                        left: 0;
                        bottom: 0px;
                        background: url("@/assets/images/tree_ico.svg") no-repeat left bottom;
                    }
                }

                .el-icon.el-tree-node__expand-icon.expanded {
                    transform: none !important;

                    &:before {
                        transform: rotate(90deg);
                        opacity: 0;
                    }

                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    &.basic>.el-tree-node {

        //기본 트리 타입
        &>div.el-tree-node__content {
            .el-icon.el-tree-node__expand-icon {
                width: 13px !important;
                height: 13px !important;
                @include radius(2px);
                position: relative;
                display: flex;
                align-items: center;
                background: #363636;
                margin-right: 12px;
                padding: 0;

                &:before {
                    @include befo_after;
                    width: 7px;
                    height: 1px;
                    background: $white;
                    left: 3px;
                    top: 6px;
                    transition: all .3s;
                }

                &:after {
                    @include befo_after;
                    width: 1px;
                    height: 7px;
                    background: $white;
                    left: 6px;
                    top: 3px;
                    transition: all .3s;
                }
            }

            .el-icon.el-tree-node__expand-icon.expanded {
                transform: none !important;

                &:before {
                    transform: rotate(90deg);
                    opacity: 0;
                }

                &:after {
                    transform: rotate(90deg);
                }
            }
        }

        &>div.el-tree-node__children {
            &>.el-tree-node {
                &>div.el-tree-node__content {
                    padding-left: 48px !important;
                }

                &>.el-icon.el-tree-node__expand-icon.is-leaf {
                    display: none;

                    &:before {
                        display: none;
                    }

                    &:after {
                        display: none;
                    }
                }

                &>div.el-tree-node__children {
                    &>.el-tree-node {
                        &>div.el-tree-node__content {
                            padding-left: 48px !important;
                        }
                    }
                }
            }
        }
    }

    &.treeAdd {
        .el-tree-node[data-key="B0"] {
            .el-tree-node__content {
                background: $white;
                height: 48px;

                &:hover {
                    background: $white !important;
                }

                &:focus {
                    background: $white !important;
                }
            }

            &.is-focusable {
                .el-tree-node__content {
                    background: $white;
                    height: 48px;

                    &:hover {
                        background: $white !important;
                    }

                    &:focus {
                        background: $white !important;
                    }
                }
            }

        }

        .el-tree-node__content {
            cursor: auto !important;

            span {
                cursor: pointer;
            }
        }

        &>.el-tree-node {
            &:focus {
                &>.el-tree-node__content {
                    background: #f4f6fa;

                    .el-icon.el-tree-node__expand-icon.expanded {
                        transform: none !important;
                    }

                    &:hover {
                        background: #f4f6fa;
                    }

                    &:focus {
                        background: #f4f6fa;
                    }
                }
            }

            & {
                &>.el-tree-node__content {
                    background: #f4f6fa;

                    .el-icon.el-tree-node__expand-icon.expanded {
                        transform: none !important;
                    }

                    &:hover {
                        background: #f4f6fa;
                    }

                    &:focus {
                        background: #f4f6fa;
                    }
                }
            }
        }
    }

    &.Apvl_pop {
        //트리 팝업타입
        padding: 16px 0;

        .el-tree-node__content {
            height: 32px;
            padding: 0 16px !important;
        }

        &>.el-tree-node {
            &>.el-tree-node__content {
                background: $white !important;
                font-weight: 600;
                font-size: 14px;
                color: #363636;
            }

            &>div.el-tree-node__content {
                .el-icon.el-tree-node__expand-icon {
                    width: 13px !important;
                    height: 13px !important;
                    @include radius(2px);
                    position: relative;
                    display: flex;
                    align-items: center;
                    background: #363636;
                    margin-right: 12px;
                    padding: 0;

                    &:before {
                        @include befo_after;
                        width: 7px;
                        height: 1px;
                        background: $white;
                        left: 3px;
                        top: 6px;
                        transition: all .3s;
                    }

                    &:after {
                        @include befo_after;
                        width: 1px;
                        height: 7px;
                        background: $white;
                        left: 6px;
                        top: 3px;
                        transition: all .3s;
                    }
                }

                .el-icon.el-tree-node__expand-icon.expanded {
                    transform: none !important;

                    &:before {
                        transform: rotate(90deg);
                        opacity: 0;
                    }

                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }

            &>div.el-tree-node__children {
                &>.el-tree-node {
                    &>div.el-tree-node__content {
                        padding: 0 !important;
                    }

                    .el-icon.el-tree-node__expand-icon.is-leaf {
                        display: none;

                        &:before {
                            display: none;
                        }

                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &>.el-tree-node {
        &.is-expanded {
            &>.el-tree-node__content {
                background: #f4f6fa;

                .el-icon.el-tree-node__expand-icon.expanded {
                    transform: none !important;
                }

                &:hover {
                    background: #f4f6fa;
                }
            }
        }
    }

    .el-tree-node:focus>.el-tree-node__content {
        background-color: transparent;
    }
}


/* 폼 에러 영역 포지션 커스텀 */
.el-form-item__error {
    position: relative !important;
    top: 0 !important;
    font-size: 14px !important;
    color: $red !important;

}

.el-form-item {
    &.is-error {
        .el-input__wrapper {
            box-shadow: 0 0 0 1px $red inset !important;
        }
    }
}

.el-select-v2+.el-form-item__error {
    margin-left: 8px;
}


/* 드롭다운 부분 스타일 조정 */
.el-dropdown__popper {
    width: 180px;

    &.el-popper {
        background: $white;
    }
}

/**/
.el-image-viewer__wrapper {
    .el-icon {
        svg {
            color: $white !important;
        }
    }
}

/* 토스트 메시지 박스  */
.el-message--info {
    width: 480px !important;
    height: 48px !important;
    border-radius: 5px !important;
    background: rgba(0, 0, 0, 0.77) !important;
    --el-message-text-color: #fff !important;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    border: 0 !important;

    .el-message-icon--info {
        display: none !important;
    }
}

/* 로딩 배경화면 색상 */
.el-loading-mask {
    background: transparent !important;
}


.is-message-box {
    p {
        font-size: 14px;
        line-height: 20px;

        b {
            font-size: 16px;
            color: $black;
        }
    }
}

.el-input.is-focus {
    input:-internal-autofill-selected {
        background-color: $white !important;
    }
}

.el-button {
    &:hover {
        border-color: inherit !important;
    }
}

:root {

    color-scheme: light;
    --el-color-white: $whitefff;
    --el-color-black: #000000;
    --el-color-primary: #363636 !important;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-5: #a0cfff;
    --el-color-primary-light-7: #c6e2ff;
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    --el-color-primary-dark-2: #337ecc;
    --el-color-success: #67c23a;
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: #f56c6c;
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: #909399;
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: $whitefff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: $whitefff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: $whitefff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);

}


.se>.se-container canvas,
.se>.se-container div,
.se>.se-container fieldset,
.se>.se-container iframe,
.se>.se-container img,
.se>.se-container input,
.se>.se-container legend,
.se>.se-container li,
.se>.se-container span,
.se>.se-container table,
.se>.se-container tbody,
.se>.se-container td,
.se>.se-container th,
.se>.se-container thead,
.se>.se-container tr,
.se>.se-container ul,
.se>.se-footer canvas,
.se>.se-footer div,
.se>.se-footer fieldset,
.se>.se-footer iframe,
.se>.se-footer img,
.se>.se-footer input,
.se>.se-footer legend,
.se>.se-footer li,
.se>.se-footer span,
.se>.se-footer table,
.se>.se-footer tbody,
.se>.se-footer td,
.se>.se-footer th,
.se>.se-footer thead,
.se>.se-footer tr,
.se>.se-footer ul,
.se>.se-header canvas,
.se>.se-header div,
.se>.se-header fieldset,
.se>.se-header iframe,
.se>.se-header img,
.se>.se-header input,
.se>.se-header legend,
.se>.se-header li,
.se>.se-header span,
.se>.se-header table,
.se>.se-header tbody,
.se>.se-header td,
.se>.se-header th,
.se>.se-header thead,
.se>.se-header tr,
.se>.se-header ul {
    font-family: "suit", 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, Sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: normal;
    border-collapse: separate;
    box-sizing: content-box;
    font-size: 13px !important;
}

.se:not(#se-t) {
    border: 0;
    box-shadow: none;
}

.se:not(#se-t) .se-dialog-container .se-dialog .se-dialog-body.se-table-layout table,
.se:not(#se-t) .se-dialog-container .se-dialog[name=findAndReplace]>.se-dialog-body table {
    width: auto;
}

div[data-shape-type] {
    z-index: 1 !important;
}