@font-face {
    font-family: '강원교육모두 Bold';
    src: local("강원교육모두 Bold"), url('~assets/fonts/강원교육모두 Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans Bold';
    src: local("GmarketSansTTFBold"), url('~assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans Light';
    src: local("GmarketSansTTFLight"), url('~assets/fonts/GmarketSansTTFLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans Medium';
    src: local("GmarketSansTTFMedium"), url('~assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}